[core]
    editor = nvim
[user]
	name = ynoca
	email = usahillbanana@gmail.com
[push]
	default = simple
[color]
    ui = true
[alias]
    graph=log --graph --oneline --decorate=full
    sh = stash
    st = status
    ad = add
    cm = commit -m
    co = commit
    ps = push
    pl = pull
    ch = checkout
    br = branch
    me = merge
    fe = fetch
    rs = reset
    rb = rebase
    rm = rm --cached

