[core]
    editor = nvim
	quotepath = false
[user]
	name = ynoca
	email = usahillbanana@gmail.com
[push]
	default = simple
[color]
    ui = true
	diff = auto
	status = auto
	branch = auto
[alias]
    gr = log --graph --oneline --decorate=full
    sh = stash
    di = diff
    st = status
    ad = add
    cm = commit -m
    co = commit
    ps = push
    pl = pull
    ch = checkout
    cb = checkout -B
    br = branch
    bd = branch -d
    me = merge
    fe = fetch
    rs = reset
    rb = rebase
    rm = rm --cached

